:root {
    --color-font-base: #4c566a;
    --color-primary: #5e81ac;
    --color-white: #fff;
    --color-black: #424242;
    --color-black-hover: #2b2b2b;
    --color-form-border: #d8dee9;
    --color-form-placeholder: #d8dee9;
    --color-form-disabled: #b4b4b4;
    --color-outline-focus-inside: #5e81ac;
    --color-outline-focus-outside: #d8dee9;
    --base-line-height: 1.7;
    --base-font-size: 16px;
}

@media (min-width: 768px) {
    :root {
        --base-font-size: 18px;
    }
}

body {
    line-height: var(--base-line-height);
    font-size: var(--base-font-size);
    color: var(--color-font-base);
    font-family: "Noto Sans JP", sans-serif;
}

.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

.container {
    width: min(90%, 760px);
    margin-inline: auto;
    padding: 80px 0;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 64px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    margin-bottom: 8px;
    width: 100%;
}

/* text / textarea */
/* ---------------- */
.c-form-text {
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0 0 1px var(--color-form-border);
    outline: none;
}

.c-form-text::placeholder {
    font-weight: bold;
    color: var(--color-form-placeholder);
}

/* textarea固有のスタイル */
.c-form-text--textarea {
    min-height: 200px;
    field-sizing: content;
}

/* フォーカス時 */
.c-form-text:focus {
    box-shadow: 0 0 0 1px var(--color-outline-focus-inside), 0 0 0 4px var(--color-outline-focus-outside);
}

/* select */
/* ---------------- */
.c-form-select-wrap {
    position: relative;
}

.c-form-select-wrap::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 18px;
    top: 50%;
    translate: 0 -50%;
    border-right: 2px solid var(--color-font-base);
    border-bottom: 2px solid var(--color-font-base);
    rotate: 45deg;
    pointer-events: none;
}

.c-form-select {
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0 0 1px var(--color-form-border);
    outline: none;
}

/* フォーカス時 */
.c-form-select:focus {
    box-shadow: 0 0 0 1px var(--color-outline-focus-inside) inset, 0 0 0 4px var(--color-outline-focus-outside);
}

/* radio / checkbox */
/* ---------------- */
.form-option-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 32px;
}

.c-form-option-text {
    --radio-checkbox-size: 24px;
    display: inline-flex;
    font-weight: bold;
    gap: 6px;
    align-items: center;
    word-break: break-all;
}

.c-form-option-text::before {
    content: "";
    display: inline-block;
    width: var(--radio-checkbox-size);
    height: var(--radio-checkbox-size);
    box-shadow: 0 0 0 1px var(--color-form-border) inset;
    flex-shrink: 0;
}

/* radio固有のスタイル */
.c-form-option-text--radio:before {
    border-radius: 50%;
}

.c-form-option--radio:checked + .c-form-option-text--radio::before {
    border: calc(var(--radio-checkbox-size) / 4) solid var(--color-primary);
    box-shadow: none;
}

.c-form-option--radio:checked + .c-form-option-text--radio {
    color: var(--color-primary);
}

/* checkbox固有のスタイル */
.c-form-option-text--checkbox {
    position: relative;
}

.c-form-option-text--checkbox::before {
    border-radius: 4px;
}

.c-form-option--checkbox:checked + .c-form-option-text--checkbox::before {
    background-color: var(--color-primary);
    box-shadow: 0 0 0 var(--color-primary) inset;
}

.c-form-option--checkbox:checked + .c-form-option-text--checkbox::after {
    content: "";
    display: inline-block;
    width: var(--radio-checkbox-size);
    height: var(--radio-checkbox-size);
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
}

.c-form-option--checkbox:checked + .c-form-option-text--checkbox {
    color: var(--color-primary);
}

/* フォーカス時 */
.c-form-option:focus-visible + .c-form-option-text {
    color: var(--color-primary);
}

.c-form-option:focus-visible + .c-form-option-text::before {
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 3px var(--color-outline-focus-outside);
}

/* file */
/* ---------------- */
.c-form-file-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.c-form-file-upload-button {
    display: inline-block;
    padding: 8px 18px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media (any-hover: hover) {
    .c-form-file-upload-button:hover {
        background-color: var(--color-black-hover);
    }
}

.c-form-file-name {
    font-size: 16px;
}

/* フォーカス時 */
.c-form-file:focus-visible + .c-form-file-upload-button {
    background-color: var(--color-black-hover);
    box-shadow: 0 0 0 1px var(--color-outline-focus-inside), 0 0 0 4px var(--color-outline-focus-outside);
}

/* button */
/* ---------------- */
.c-button {
    background-color: var(--color-black);
    color: var(--color-white);
    display: block;
    padding: 14px 24px;
    font-weight: bold;
    border-radius: 100vh;
    outline: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

@media (any-hover: hover) {
    .c-button:hover {
        background-color: var(--color-black-hover);
    }
}

/* フォーカス時 */
.c-button:focus-visible {
    background-color: var(--color-black-hover);
    box-shadow: 0 0 0 1px var(--color-outline-focus-inside), 0 0 0 4px var(--color-outline-focus-outside);
}

/* disabled */
.c-button:disabled {
    background-color: var(--color-form-disabled);
    cursor: not-allowed;
}
